//HEADER
//logo + nav
$h-hr-color:#54514c;
$h-logo-color: #81838f;
$h-nav-color: #e9e8e7;
//after underscore
$h-mini-title-color:#81838f;
$h-central-exposition-color: #ffffff;
$h-hover-link-color:#54514c;
//HEADER end
//----------------------------------------------------------
//ABOUT
$a-main-color: #515769;
//ABOUT end
//----------------------------------------------------------
//WEE COOL
//left (textarea)
$w-main-bg: #fafafa;
$w-link-bg: #515769;
$w-link-bg-hover:#17bed2;
$w-link-color: #ffffff;
//right (choice-area)
$w-active-bg: #17bed2;
$w-active-color: #ffffff;
$w-item-color: #515769;
$w-item-underscore-color: #ededed;
$w-item-hover-color: #999caa;
//WEE COOL end
//----------------------------------------------------------
//PROD
//title-m
$p-title-color: #515769;
$p-title-color-hover: rgba(81, 87, 105, 0.55);
$p-style-line-color:#17bed2;
//item
//PROD end
//SUBSCRIBE
$s-bg:#fafafa;
$s-item-link-color:#515769;
$s-item-linc-bg:#f3f4f5;
$s-link-bg-hover:#17bed2;
$s-color:#515769;
$s-dollar-color: rgba(81, 87, 105, 0.49);
//SUBSCRIBE end
//----------------------------------------------------------
//PORTFOLIO
$pf-title-color: #515769;
$pf-underscore-bg:#edf0f2;
//PORTFOLIO end
//----------------------------------------------------------
//SERVICES
$s-section-bg:#fafafa;
$s-active-item-bg:#17bed2;
$s-active-item-color:#ffffff;
$s-item-bg:#ffffff;
$s-items-color:#515769;
$s-mini-color:#abacaf;
//SERVICES end
//----------------------------------------------------------
//CONTACT
$c-color:#515769;
$c-mini-color:#abacaf;
//CONTACT end
//----------------------------------------------------------
//FOOTER LIST
$f-color:#515769;
$f-color-hover: rgba(81, 87, 105, 0.54);
//FOOTER LIST end

